body{
    font-family: Verdana, Geneva, sans-serif;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1D5087;
    padding-left: 10%;
    padding-right: 10%;
}
header .header-form{
    display: flex;
    align-items: flex-end;
}
#facebook {
    font-size: 2.5rem;
    color: White;
    margin-bottom: 0.7rem;
    margin-top: 2rem;
}
#login {
    display: flex;
   flex-direction: row;
   color: white;   

}
header .small-text{
    font-size: 0.8rem;
    margin-top:0.2rem;
    margin-bottom: 0.2rem;
}
header .input {
    margin-right: 1rem;
}
#forgotpassword {
    color: #e6e6ff;
    
}
header .login-button {
    margin-top: auto;
    margin-bottom: auto;
}
.main-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f0f5f5;
}
.main-body .left-half{
    flex: 1;
}
.main-body .right-half{
    flex: 0.7;
}
.main-body .left-half .big-slogan {
    font-weight: normal;
    padding: 42px 0 24px;
    font-size: 28px;
    line-height: 36px
}
.main-body .left-half .small-slogan {
}
.main-body .left-half .small-slogan p {
    font-size: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-body .left-half .small-slogan p img {
    margin: .5rem;
}
.main-body .right-half .account-information{
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    align-items: stretch;
}
.main-body .right-half .account-information .fullname{
    display: flex;
    flex-direction: row;
    padding:0.1rem;
}
.main-body .right-half .account-information .email-or-phone{
    display: flex;
    flex-direction: row;
    padding:0.1rem;
}
.main-body .right-half .account-information .password{
    display: flex;
    flex-direction: row;
    padding:0.1rem;
}
.main-body .right-half .account-information .full-width * {
    width: 100%;
}
.main-body .right-half .birthday-input {
    display: flex;
    flex-direction: row;
   

}
.main-body .right-half .birthday-input input {
    margin-top: auto;
    margin-bottom: auto;
}
.main-body .right-half .birthday-input p {
    padding-left: 1rem;
}
footer {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}
footer .upper-footer{
    display: flex;
    flex-direction: row;

}
footer .upper-footer .add-button {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    
}
footer .upper-footer .language{
    display: flex;
    flex-direction: row;

}
footer .upper-footer .language p{
    padding-right: 1rem;
}
footer .lower-footer{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}
footer .lower-footer p{
    padding-right: 1rem;
    margin: 0.2rem;
}
