body{
    font-family: Verdana, Geneva, sans-serif;
    color:#333333;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3a5998;
    padding-left: 10%;
    padding-right: 10%;
}
header .header-form{
    display: flex;
    align-items: flex-end;
}
#facebook {
    font-size: 2.5rem;
    color: White;
    margin-bottom: 0.7rem;
    margin-top: 2rem;
}
#login {
    display: flex;
    flex-direction: row;
    color: white;   

}
header .small-text{
    font-size: 0.8rem;
    margin-top:0.2rem;
    margin-bottom: 0.2rem;
}
header .input {
    margin-right: 1rem;
}
#forgotpassword {
    color: #9cb4c1;
    
}
header .login-button {
    margin-top: auto;
    margin-bottom: auto;
}
header .login-button button {
    background-color: #4267b2;
    color: white;
    border-style: ridge;
    border-color: #29487d; 
}
.main-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5rem;
    background-color: #edf0f4;
}
.main-body .left-half{
    flex: 1;
}
.main-body .right-half{
    flex: 0.7;
}
.main-body .left-half .big-slogan {
    font-weight: normal;
    padding: 42px 0 24px;
    font-size: 28px;
    line-height: 36px
}
.main-body .left-half .small-slogan p {
    font-size: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666674;
}
.main-body .left-half .small-slogan p img {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.main-body .left-half .small-slogan p strong {
    margin-right: 0.5rem;
    color: black;
}
.main-body .right-half .account-information{
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    align-items: stretch;
}
.main-body .right-half .signup-title h2{
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}
.main-body .right-half .signup-title p{
    margin-top: 0;
    padding-top: 0;
}
.main-body .right-half .account-information ::placeholder {
    padding: 0.5em;
    font-size: 1.6em;
    color: #999999;
}
.main-body .right-half .account-information .fullname{
    display: flex;
    flex-direction: row;
    padding:0.3rem;
    height: 2.5em;
}
.main-body .right-half .account-information .fullname #firstname {
    margin-right: 0.3rem;
}
.main-body .right-half .account-information .fullname #lastname{
    margin-left: 0.3rem;
}
.main-body .right-half .account-information .email-or-phone{
    display: flex;
    flex-direction: row;
    padding:0.3rem;
    height: 2.5em;
}
.main-body .right-half .account-information .password{
    display: flex;
    flex-direction: row;
    padding:0.3rem;
    height: 2.5em;
}
.main-body .right-half .account-information .full-width * {
    width: 100%;
}
.main-body .right-half .account-information input {
    border-radius: 5px;
    border: 1px solid #bcc7d7;
}
.main-body .right-half .birthday-title {
    margin-bottom:0;
}
.main-body .right-half .birthday-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-body .right-half .birthday-input select{
    height: 2.5em;
}
.main-body .right-half .birthday-input select option {
    font-size: 4em;
}
.main-body .right-half .birthday-input p {
    font-size: 0.7em;
    padding-left: 1em;
    color: #3457bb;
}
.main-body .right-half .agreement {
    font-size: 0.7em;
    color: #666674;
}
.main-body .right-half .agreement strong{
    color: #3457bb;
    font-weight: normal;

}
.main-body .right-half .signup-button button{
    width: 15rem;
    height: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #609d4c;
    border-style: groove;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
}
.main-body .right-half .create-page {
    font-size: 0.7em;
    color: #666674;
    font-weight: bold;
}
.main-body .right-half .create-page strong{
    color: #3457bb;
}
footer {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}
footer .upper-footer{
    display: flex;
    flex-direction: row;

}
footer .upper-footer .add-button {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    
}
footer .upper-footer .language{
    display: flex;
    flex-direction: row;

}
footer .upper-footer .language p{
    font-size: 0.7em;
    color: #3457bb;
    padding-right: 1rem;
}
footer .lower-footer{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}
footer .lower-footer p{
    font-size: 0.7em;
    color: #3457bb;
    padding-right: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
footer .copyright p{
    font-size: 0.7em;
    color: #666674;
}
